html, body {
  margin:0;
  padding: 0;
}

body {
  background: url(../img/africaRoute.jpg) no-repeat top center;
  background-color: rgb(221, 165, 115);
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}
.container {
  display: flex;
}
.container .col {
  flex:1;
  height: 100%;
}
.col h2 {
  text-align: center;
  width:100%;
}

.elephant {
  border: none;
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.africa-map {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  width: 400px;
}

#ref {
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}